*.class
*.log
build.sbt
build
*.iml
package
logs/
develop.properties
application.conf
#package-lock.json

node_modules/
output/
twirl/
bower_components/
digitalWallet/src/main/less/main.css
merchant/src/main/less/main.css
src/main/webapp/assets/vendors/
src/main/webapp/resources/css/
src/main/webapp/resources/js/

# sbt specific
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.cache
.settings

# IntelliJ specific
.idea/
.idea_modules/

eams_api.properties

.gradle
applog/
out/
.vscode

deployTemp

.flattened-pom.xml
